<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.divvyapp"
    android:versionCode="2"
    android:versionName="1.1" >

    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.main.divvyapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.main.divvyapp.permission.C2D_MESSAGE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.google.android.maps" />  
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.main.divvyapp" />
            </intent-filter>
        </receiver>

        <service android:name="gcm.GcmIntentService" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DealsPage"
            android:label="@string/title_activity_deals_page" >
        </activity>
        <activity
            android:name=".FindMeMatch"
            android:label="@string/title_activity_find_me_match" >
        </activity>
        <activity
            android:name=".CompleteMatch"
            android:label="@string/title_activity_complete_match" >
        </activity>
        <activity
            android:name=".ChatAfterMatch"
            android:label="@string/title_activity_chat_after_match"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".StorePage"
            android:label="@string/title_activity_store_page" >
        </activity>
        <activity
            android:name=".AddNewDeal"
            android:label="@string/title_activity_add_new_deal" >
        </activity>
        <activity
            android:name=".Filter"
            android:label="@string/title_activity_filter" >
        </activity>
        <activity
            android:name=".ChatHistory"
            android:label="@string/title_activity_chat_history" >
        </activity>
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_splash_screen" >
        </activity>
    </application>

</manifest>